*{
    box-sizing: border-box;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin: 0;
    min-width: 992px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #545454;
}

/* navbar*/
.navbar{
    height: 60px;
    padding: 30px;
    padding-left: 30px;
    #logo{
        line-height: 60px;
        font-size: 50px;
        color: rgb(53, 104, 105);
    }
    ul{
        margin: 0;
        line-height: 60px;
        float: right;
        padding-left: 0px;
        list-style: none;
        li{
            float: left;
            padding-left: 15px;
            padding-right: 15px;
            a{
                color: #545454;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}
    .hero-header{
        padding: 30px;
        height: 350px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 60px;
        img{
            width: 100%;
            height: 330px;
        }
    }
    .hero-header2{
        padding: 30px;
        height: 350px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
        img{
            width: 100%;
            height: 180px;
        }
    }
    .main-index p{
        font-size: 25px;
        color: #545454;
        font-weight: bold;
        margin-bottom: 60px;
        text-align: center;
    }
    .main-index ul{
        font-size: 25px;
        color: #545454;
        font-weight: bold;
        margin-bottom: 60px;
        list-style: none;
        text-align: center;
        li{
        display: inline-block;
        padding-left: 20px;
            a{
                color: #545454;
                b{
                    font-size: 30px;
                    font-weight: bold;
                    color: black;
                }
            }
            a:hover{
                opacity: 2;
                color: black;
            }
        }
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 0.5fr);
        grid-template-rows: 55vh auto;
        gap: 1px;
        .product
        {
          background-color: white;
        }

        .product {
          padding: 10px;
          display: grid;
          a{
              color: #545454;;
          }
          grid-template-rows: 60% auto;
          img{
              margin-left: 20px;
          }
          .product__photo {
              display: grid;
            justify-content: center;
          }
          .product__photo:hover{
              opacity: 0.4;
          }
          .product__data {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 17px;
          }
        }
      }


    footer {
        margin: 0p;
        display: grid;
        text-align: center;
        height: 120px;
        background-color: gainsboro;
        font-size: 15px;
        .footer-box{
            display: flex;
            justify-content: space-around;

            .text{
                margin-top: 10px;
            }
            .icon{
                margin-top: 40px;
            }
        }
      }


