@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "DM Serif Display", monospace;
  padding: 45px;
}

header {
  background-color: red;
  border: 1px solid black;
  margin-bottom: 100px;
}

header nav ul {
  display: -ms-grid;
  display: grid;
  gap: 1px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (60px)[2];
      grid-template-rows: repeat(2, 60px);
}

header nav ul li {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li:nth-child(2) {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  font-size: 32px;
  text-transform: uppercase;
}

main h1,
main h6 {
  text-align: center;
}

main h1 {
  font-size: 58px;
  margin-bottom: 20px;
}

main h6 {
  font-family: "B612 Mono";
  font-size: 12px;
  margin-bottom: 50px;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 80vh;
      grid-template-rows: 80vh;
  margin-bottom: 150px;
}

.hero .hero__img {
  background-image: url("https://source.unsplash.com/random/");
  background-position: center center;
  background-size: cover;
}

.hero .hero__img:first-child {
  background-image: url("https://source.unsplash.com/random/1");
}

.hero .hero__img:last-child {
  background-image: url("https://source.unsplash.com/random/2");
}

.hero .hero__img:nth-last-child(2) {
  background-image: url("https://source.unsplash.com/random/3");
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  background-color: black;
  gap: 5px;
}

.wrapper .product {
  padding: 40px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-rows: 80% auto;
      grid-template-rows: 80% auto;
}

.wrapper .product .product__photo {
  background-color: black;
}

.wrapper .product .product__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .product .product__data .price {
  margin-top: 10px;
}

footer {
  margin: 100px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 10fr 2fr;
      grid-template-rows: 10fr 2fr;
  background-color: black;
  gap: 1px;
  height: 200px;
  border: 1px solid black;
}

footer div {
  background-color: white;
}

footer div:first-child {
  grid-column: span 2;
}

footer div:last-child {
  grid-column: 1 / -1;
}
