* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #134213;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  padding: 190px;
  padding: 10vh 0 72px 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  color: #b8870d;
  font-size: 85px;
  width: 50%;
  letter-spacing: 1px;
}

header h3 {
  color: #b8870d;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 40px;
}

header h3,
header p {
  width: 70%;
  line-height: 1;
  text-align: justify;
}

header p {
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 40px;
}

header nav {
  width: 80%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
}

header nav ul a {
  text-decoration: none;
  color: black;
}

header nav ul li {
  cursor: pointer;
  margin-right: 12px;
  font-size: 20px;
  color: black;
  opacity: 0.5;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

header nav ul li:hover {
  opacity: 3;
}

main {
  margin-left: 25%;
}

main .main {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(0, 0, 0, 0.1)), color-stop(transparent), color-stop(transparent), color-stop(transparent), to(transparent)) #f0eff0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 5%, transparent, transparent, transparent, transparent) #f0eff0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
}

main .main .wrapper {
  height: 100vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main .wrapper .main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-bottom: 25px;
}

main .main .wrapper .main_header h4 {
  margin-bottom: 50px;
  font-size: 32px;
}

main .main .wrapper .main_header h5 {
  font-size: 20px;
  letter-spacing: 2px;
}

main .main .wrapper .main_header .all-items {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main .wrapper .main_header .all-items .items-first {
  margin-top: 50px;
  width: 33.33%;
  height: 300px;
  padding-bottom: 30px;
  position: relative;
}

main .main .wrapper .main_header .all-items .items-first .name {
  color: #b8870d;
  font-weight: bold;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10px;
  top: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main .wrapper .main_header .all-items .items-second {
  width: 33.33%;
  height: 300px;
  padding-bottom: 30px;
}

main .main .wrapper .main_header .all-items .items-second .name {
  color: #b8870d;
  font-weight: bold;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10px;
  top: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main .wrapper .main_header .all-items img {
  margin-top: 30px;
  width: 90%;
  height: 90%;
}

main .main .wrapper .main_header .all-items img:hover {
  opacity: 0.3;
}

main .main .wrapper .main_header .all-items .all-items:hover .name1 {
  opacity: 1;
}

main .main .wrapper .main_header p {
  margin-top: 520px;
  margin-left: 20px;
  position: absolute;
  font-size: 25px;
}

main .main .wrapper .main_header p a {
  text-decoration: none;
  color: #686767;
}

main .main .wrapper .main_header p a:hover {
  color: black;
  opacity: 3;
  font-weight: bold;
}

main .main .wrapper .main_header span {
  position: absolute;
  margin-left: 450px;
  margin-top: 515px;
  font-size: 25px;
  color: #313131;
}

main .main .wrapper .main_header span a {
  text-decoration: none;
  color: #686767;
}

main .main .wrapper .main_header span a:hover {
  color: black;
  opacity: 3;
  font-weight: bold;
}

main .main .wrapper .main_header .order_menu {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main .wrapper .main_header .order_menu .set {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main .wrapper .main_header .order_menu img {
  width: 90%;
  height: 70%;
}

main .main .wrapper .main_header .contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 100%;
  margin-top: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main .wrapper .main_header .contact h2 {
  font-size: 30px;
  letter-spacing: 3px;
  margin-top: 150px;
  margin-left: 20px;
  line-height: 40px;
}

main .main .wrapper .main_header .contact h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 20px;
}

main .main .wrapper .main_header .contact h4 {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 30px;
}

main .main .wrapper .main_header .map .root_daum_roughmap {
  margin-top: 50px;
}

main .main img {
  width: 100%;
  -webkit-box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
